<div th:fragment = "header">
    <div class="d-flex flex-column flex-md-row sticky-top align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="/">Книжный магазин</a>
            <a class=" text-dark mr-md-3" href="/addProduct">Добавить товар</a>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Поиск товара" aria-label="Поиск">
                <button class="btn btn-outline-success mr-md-3" type="Search">Поиск</button>
            </form>
            <a class=" text-dark mr-md-3" href="/basket">Корзина<span class="badge">4</span></a>
            <a class=" text-dark mr-md-3" href="/authorization">Авторизация</a>
        </nav>
    </div>
</div>